.gallery #new_pictures_added{
  position: fixed;
      bottom: 0px;
      right: 0px;
      margin: 10px;
      background-color: #cecece;
      color: black;
      padding: 10px;
      z-index: 2;
      border-radius: 4px;
      border: 1px solid black;
      box-shadow: 2px 5px 20px black;
      text-align: center;
}

.gallery .col{
  border-radius: 4px;
  padding: 5px;
  border: 1px solid black;
  margin: 15px;
  background-color: #cecece;
  box-shadow: 2px 5px 20px black;
}

.gallery .col img{
  background-color:  black;
}

.gallery .datetime, .gallery .picture_number{
  text-align: center;
  background-color: black;
  color: white;
  padding: 5px 0px;
}

.gallery .datetime{
  font-weight: bold;
}

.gallery .action_links {
    list-style: none;
    padding-left: 0px;
    width: 100%;
    text-align: center;
    margin: 15px 0px 10px;
}

.gallery .action_links li{
  display: inline-block;
  padding-right: 20px;
}

.gallery .action_links li .fas {
    color: black;
    font-size: 1.3em;
    text-shadow: 1px 1px white;
}
