<!DOCTYPE html>
<html lang="en">
<head>
  <title>Photobooth</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>Photobooth</h1>
  <p>[load_images_from_directory]</p>
</div>

<script>

t="all";

window.setInterval(function(){
  /// call your function here
  t = execute_call(t)
}, 5000);


function execute_call(timestamp)
{
  url = "http://localhost:9090/api/get_new_pictures/" + timestamp;
  var jqxhr = $.getJSON( url, function() {
    console.log( "success" );
  })
    .done(function() {
      console.log( "second success" );
    })
    .fail(function() {
      console.log( "error" );
    })
    .always(function(data) {

      console.log( "complete" );
      console.log(data);
      return data.last_picture_timestamp;
    });
}


</script>
</body>
</html>
