<div class="event-title">ExampleEvent</div>
<div class="qr-box pos-footer pos-left box-shadow">
  <img id="mail_qr" class="qr"/>
  <p>Mail your picture</p>
</div>

<div class="qr-box pos-footer pos-right box-shadow">
  <img id="download_qr" class="qr"/>
  <p>Download your picture</p>
</div>

<div class="picture-timestamp-box pos-footer pos-middle">
  <p>Picture taken on:</p>
  <div id="picture_timestamp" class="timestamp">
    <p></p>
  </div>
</div>

<script>
view = "last_picture";
prepare_window(view, false);
</script>
